{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="pb-50">
    <div class="container">
        <div class="sec-title d-flex align-items-center justify-content-between flex-wrap">
            <div class="">
                <h1 data-watermark="News" class="pe-5"><span>Latest</span> News</h1>
                <p>Let,s see our latest post</p>
            </div>
            <div class="">
                <h4>Total Post / <span>17</span></h4>
            </div>
        </div>
        <div class="article-lists">
            <div class="article-item">
                <div class="ai-img">
                    <a href="" class="ai-img-inner">
                        <img src="assets/img/portfolio/1.jpg" alt="">
                    </a>
                </div>
                <div class="ai-text">
                    <div class="ai-meta">
                        <span>25th January , 2021</span>
                        <span>7 min Read</span>
                    </div>
                    <h4 class="ai-title">
                        <a href="">
                            Frequency Asked Questions title Adipiscing  lorem ipsum dolor lobortis interdum
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    <a href="" class="readmore">
                        Read More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="article-item">
                <div class="ai-img">
                    <a href="" class="ai-img-inner">
                        <img src="assets/img/portfolio/2.jpg" alt="">
                    </a>
                </div>
                <div class="ai-text">
                    <div class="ai-meta">
                        <span>25th January , 2021</span>
                        <span>7 min Read</span>
                    </div>
                    <h4 class="ai-title">
                        <a href="">
                            Frequency Asked Questions title Adipiscing  lorem ipsum dolor lobortis interdum
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    <a href="" class="readmore">
                        Read More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="article-item">
                <div class="ai-img">
                    <a href="" class="ai-img-inner">
                        <img src="assets/img/portfolio/3.jpg" alt="">
                    </a>
                </div>
                <div class="ai-text">
                    <div class="ai-meta">
                        <span>25th January , 2021</span>
                        <span>7 min Read</span>
                    </div>
                    <h4 class="ai-title">
                        <a href="">
                            Frequency Asked Questions title Adipiscing  lorem ipsum dolor lobortis interdum
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    <a href="" class="readmore">
                        Read More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="article-item">
                <div class="ai-img">
                    <a href="" class="ai-img-inner">
                        <img src="assets/img/portfolio/4.jpg" alt="">
                    </a>
                </div>
                <div class="ai-text">
                    <div class="ai-meta">
                        <span>25th January , 2021</span>
                        <span>7 min Read</span>
                    </div>
                    <h4 class="ai-title">
                        <a href="">
                            Frequency Asked Questions title Adipiscing  lorem ipsum dolor lobortis interdum
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    <a href="" class="readmore">
                        Read More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="article-item">
                <div class="ai-img">
                    <a href="" class="ai-img-inner">
                        <img src="assets/img/portfolio/5.jpg" alt="">
                    </a>
                </div>
                <div class="ai-text">
                    <div class="ai-meta">
                        <span>25th January , 2021</span>
                        <span>7 min Read</span>
                    </div>
                    <h4 class="ai-title">
                        <a href="">
                            Frequency Asked Questions title Adipiscing  lorem ipsum dolor lobortis interdum
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    <a href="" class="readmore">
                        Read More <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-end">
            <div class="paginations">
                <a href="">
                    <i class="icofont-long-arrow-left"></i>
                </a>
                <a href="" class="active">
                    01
                </a>
                <a href="">
                    02
                </a>
                <a href="">
                    03
                </a>
                <a href="">
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

{% include 'template/footer-two.twig' %}