{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}


<div class="py-100">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern">
            <h1><span>Contact</span> Us</h1>
            <p>If any query just contact us</p>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-5 py-3">
                <div class="">
                    <div class="mb-4">
                        <h2 class="fw-bold">Get In Touch</h2>
                        <p>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod.</p>
                    </div>
                    <div class="">
                        <div class="mb-3">
                            <label class="mb-2" for="name">Full Name</label>
                            <input type="text" id="name">
                        </div>
                        <div class="mb-3">
                            <label class="mb-2" for="email">Your e-mail</label>
                            <input type="email" id="email">
                        </div>
                        <div class="mb-3">
                            <label class="mb-2" for="comment">Comment</label>
                            <textarea id="comment"></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-secondary">
                                Send Query
                                <i class="icofont-long-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 py-3">
                <div class="mb-5">
                    <div class="mb-4">
                        <h2 class="fw-bold">Contact Information</h2>
                        <p>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod.</p>
                    </div>
                    <div class="inline-icon mb-2">
                        <i class="icofont-phone"></i>
                        +111 - (1234 5678 99)
                    </div>
                    <div class="inline-icon mb-2">
                        <i class="icofont-ui-message"></i>
                        cryptohouse@gmail.com
                    </div>
                    <div class="inline-icon mb-2">
                        <i class="icofont-location-pin"></i>
                        23/ A Lake Side , New Arizona , USA
                    </div>
                </div>
                <div class="box-shadow p-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d496445.4301486722!2d-83.32859874619457!3d35.17158506829128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88590f6ca92354a3%3A0xc5a3ece70ce4ec54!2sParadise%20Falls!5e0!3m2!1sen!2sbd!4v1613491107633!5m2!1sen!2sbd" height="350" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb--30">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Newsletter</h4>
                <p>Subscribe our newsletter for get Update</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'template/footer-four.twig' %}