{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="text-center pb-50">
    <div class="container">
        <div class="error-block">
            <h1>Ooops ! Error</h1>
            <div class="my-5">
                <img src="assets/img/error.png" alt="">
            </div>
            <p>Sorry Page Not Fount , Site Under Construction</p>
            <a href="index.html" class="btn btn-dark">
                <i class="icofont-long-arrow-left"></i>
                Go back to home
            </a>
        </div>
    </div>
</div>

{% include 'template/footer-two.twig' %}