{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}


<div class="pt-100 pb-50">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern">
            <h1><span>Some</span> FAQ</h1>
            <p>Frequency Asked Questions</p>
        </div>
        <div class="faq-list w1000 mx-auto">
            <div class="faq-item">
                <h5>Auctor sit elementum, vulputate posuere habitant vel tempor varius. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
            <div class="faq-item">
                <h5>Frequency Asked Questions title Adipiscing lobortis interdum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
            <div class="faq-item">
                <h5>Interdum fringilla euismod odio vitae nam pulvinar elementum title faqs</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
            <div class="faq-item">
                <h5>Auctor sit elementum, vulputate posuere habitant vel tempor varius. </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
            <div class="faq-item">
                <h5>Frequency Asked Questions title Adipiscing lobortis interdum</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
            <div class="faq-item">
                <h5>Interdum fringilla euismod odio vitae nam pulvinar elementum title faqs</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum, vulputate posuere habitant vel tempor varius. </p>
            </div>
        </div>
    </div>
</div>


<div class="mb--30 pt-100">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Newsletter</h4>
                <p>Subscribe our newsletter for get Update</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'template/footer-four.twig' %}