{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="pb-50">
    <div class="container">
        <div class="sec-title text-center">
            <h1 data-watermark="FAQ">
                <span>Some</span> FAQ
            </h1>
            <p>Frequency Asked Questions</p>
        </div>
        <div class="w900 mx-auto">
            <div class="accordion-list">
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Auctor sit elementum, vulputate posuere habitant vel tempor varius.</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Frequency Asked Questions title Adipiscing lobortis interdum</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Interdum fringilla euismod odio vitae nam pulvinar elementum title faqs</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Frequency Asked Questions title Adipiscing lobortis interdum</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in torto</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h5 class="accordion-title">
                        <span>Auctor sit elementum, vulputate posuere habitant vel tempor varius.</span>
                    </h5>
                    <div class="accordion-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum. Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. Auctor sit elementum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% include 'template/footer-two.twig' %}