{% include 'template/header-script.twig' with {'class': 'class="blue-top"'}%}

<div class="cripto-banner-sec">
    <div class="cripto-header-wrap">
        {% include 'template/transparent-header.twig' %}
        <div class="tread-title-area" data-aos="fade-up">
            <div class="container-fluid">
                <div class="tread-slider-wrapper owl-carousel">
                    <p>GME +10%</p>
                    <p>RH +10%</p>
                    <p>FOX +10%</p>
                    <p>NASDAQ +10%</p>
                    <p>OUT +10%</p>
                    <p>DJIA +10%</p>
                    <p>GEC +10%</p>
                    <p>FOX +10%</p>
                    <p>RH +10%</p>
                    <p>NASDAQ +10%</p>
                    <p>GME +10%</p>
                    <p>RH +10%</p>
                    <p>FOX +10%</p>
                    <p>NASDAQ +10%</p>
                    <p>OUT +10%</p>
                    <p>DJIA +10%</p>
                    <p>GEC +10%</p>
                    <p>FOX +10%</p>
                    <p>RH +10%</p>
                    <p>NASDAQ +10%</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="cripto-banner" style="background-image:url(assets/img/cripto-bg.jpg)">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-7" data-aos="fade-up">
                    <div class="cripto-banner-text">
                        <h3>Blockchain<span>Reward &</span></h3>
                        <h2>Best <strong>Trading</strong> Platform</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. A Nibh purus integer elementum in. Tellus vulputate habitasse ut diam. </p>
                        <a href="" class="btn btn-primary">Discover More
                            <i class="icofont-long-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="50">
                    <div class="cripto-banner-counter">
                        <h3>15% off all Token</h3>
                        <p>Time left</p>
                        <div class="cripto-counter">
                            <div class="countdown-clock countdown-lagency">
                                <div class="cripto-item">
                                    <div class="ci-inner">
                                        <div class="clock-days ci-value"></div>
                                        <h4>Days</h4>
                                    </div>
                                </div>
                                <div class="cripto-item">
                                    <div class="ci-inner">
                                        <div class="clock-hours ci-value"></div>
                                        <h4>Hours</h4>
                                    </div>
                                </div>
                                <div class="cripto-item">
                                    <div class="ci-inner">
                                        <div class="clock-minutes ci-value"></div>
                                        <h4>Minutes</h4>
                                    </div>
                                </div>
                                <div class="cripto-item">
                                    <div class="ci-inner">
                                        <div class="clock-seconds ci-value"></div>
                                        <h4>Seconds</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="" class="btn btn-blue">Buy Token
                            <i class="icofont-long-arrow-right"></i>
                        </a>
                        <p><span>for buy & sale we accept</span></p>
                        <ul>
                            <li>
                                <a href="#">
                                    <img src="assets/img/visa.png" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/visa2.png" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/visa3.png" alt="image">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="assets/img/visa4.png" alt="image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="cripto-banner-anime">
            <img src="assets/img/icon/cripto-banner.svg" alt="image">
        </div>
    </div>
</div>
<div class="cripto-about-area">
    <div class="container-fluid">
        <div class="cripto-about-wrapper">
            <div class="cripto-about-img" data-aos="fade-up">
                <img src="assets/img/cripto-about.png" alt="image">
            </div>
            <div class="cripto-about-content" data-aos="fade-up" data-aos-delay="50">
                <div class="cripto-heading">
                    <h2 data-watermark="about"><span>About</span>Cryptohouse</h2>
                </div>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
                <ul>
                    <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                    <li>Fringilla euismod odio vitae nam pulvinar is this elementum lorem ipsum dolor sit amet.</li>
                    <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                </ul>
                <a href="" class="btn btn-blue text-blue">Buy Token
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="cripto-works-area" style="background-image:url(assets/img/cripto-works-bg.jpg)">
    <div class="container-fluid">
        <div class="cripto-works-wrapper">
            <div class="cripto-works-content" data-aos="fade-up">
                <div class="cripto-works-heading">
                    <h2>How it Works ?</h2>
                    <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
                </div>
                <div class="cripto-works-list">
                    <div class="cripto-works-single-list" data-number="01">
                        <span>Step - 01</span>
                        <h3>BLock Chain</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                    <div class="cripto-works-single-list" data-number="02">
                        <span>Step - 02</span>
                        <h3>Buy & Sale</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                    <div class="cripto-works-single-list" data-number="03">
                        <span>Step - 03</span>
                        <h3>Competitive Benefit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                    <div class="cripto-works-single-list" data-number="04">
                        <span>Step - 04</span>
                        <h3>Time Management</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
            </div>
            <div class="cripto-works-img" data-aos="fade-up" data-aos-delay="50">
                <img src="assets/img/cripto-works.png" alt="image">
            </div>
        </div>
    </div>
    <div class="cripto-works-anime">
        <img src="assets/img/icon/cripto-works.svg" alt="image">
    </div>
</div>
<div class="cripto-token-area">
    <div class="container-fluid">
        <div class="cripto-token-wrapper">
            <div class="sec-title text-center aos-init aos-animate" data-aos="fade-up">
                <h1 data-watermark="Token"><span>Crypto</span> Token Price
                </h1>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            </div>
            <div class="cripto-token-card-wrapper">
                <div class="cripto-single-token" data-aos="fade-up">
                    <h4>Buy Token Time</h4>
                    <p>15 Nov to 28 Dec , 2021</p>
                </div>
                <div class="cripto-single-token" data-aos="fade-up" data-aos-delay="30">
                    <h4>Market Cap</h4>
                    <p>15 Nov to 28 Dec , 2021</p>
                </div>
                <div class="cripto-single-token" data-aos="fade-up" data-aos-delay="50">
                    <h4>Available Token</h4>
                    <p>$ 70 Billion</p>
                </div>
                <div class="cripto-single-token" data-aos="fade-up" data-aos-delay="70">
                    <h4>Market Rate</h4>
                    <p>0.35% - 2.15%</p>
                </div>
                <div class="cripto-single-token" data-aos="fade-up" data-aos-delay="90">
                    <h4>Accept Currency</h4>
                    <p>BTC , ETH , LIT</p>
                </div>
            </div>
            <button class="btn btn-blue text-blue">Buy Token
                <i class="icofont-long-arrow-right"></i>
            </button>
        </div>
        <div class="cripto-sale-wrapper">
            <div class="cripto-sale-heading" data-aos="fade-up">
                <h2>Token Sale</h2>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
            </div>
            <div class="cripto-sale-content">
                <div class="cripto-sale-card" data-aos="fade-up">
                    <div class="cripto-sale-title">
                        <h3>Private Pre - Sale</h3>
                    </div>
                    <div class="cripto-sale-card-content">
                        <h4>1 ETH = up to 20,000 STMX</h4>
                        <h5>40% bonus, 1 CoinEX ~ $14</h5>
                        <p>Minimum $0.75 million</p>
                    </div>
                </div>
                <div class="cripto-sale-card active" data-aos="fade-up" data-aos-delay="50">
                    <div class="cripto-sale-title">
                        <h3>Pre - Sale</h3>
                    </div>
                    <div class="cripto-sale-card-content">
                        <h4>1 ETH = up to 20,000 STMX</h4>
                        <h5>40% bonus, 1 CoinEX ~ $14</h5>
                        <p>Minimum $0.75 million</p>
                    </div>  
                </div>
                <div class="cripto-sale-card" data-aos="fade-up" data-aos-delay="100">
                    <div class="cripto-sale-title">
                        <h3>Crypto Sale</h3>
                    </div>
                    <div class="cripto-sale-card-content">
                        <h4>1 ETH = up to 20,000 STMX</h4>
                        <h5>40% bonus, 1 CoinEX ~ $14</h5>
                        <p>Minimum $0.75 million</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cripto-roadmap-area" style="background-image:url(assets/img/cripto-map-bg.png)">
    <div class="container-fluid">
        <div class="cripto-roadmap-wrapper">
            <div class="sec-title text-center aos-init aos-animate" data-aos="fade-up">
                <h1 data-watermark="RoadMap">Crypto Road Map
                </h1>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            </div>
            <div class="hexo-design-area" data-aos="fade-up">
                <ul class="cripto-roadmap-content">
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                    <li>
                        <div class="hex">
                            <h5>Jan 2017 - March 2018</h5>
                            <h3>Explore Business</h3>
                            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum vitae nam pulvinar elementum.</p>
                        </div>
                    </li>
                </ul>
                <div class="hexo-image-area">
                    <img class="hexo-1" src="assets/img/icon/hexo-shape-1.svg" alt="icon">
                    <img class="hexo-2" src="assets/img/icon/hexo-shape-1.svg" alt="icon">
                    <img class="hexo-3" src="assets/img/icon/hexo-shape-1.svg" alt="icon">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cripto-ico-area">
    <div class="container-fluid">
        <div class="cripto-ico-wrapper">
            <div class="cripto-ico-content" data-aos="fade-up">
                <h2>How ICO market works in Blockchain</h2>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
                <a href="" class="btn btn-blue text-blue">See a Short Clip
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
            <div class="cripto-ico-image" data-aos="fade-up" data-aos-delay="50">
                <img src="assets/img/cripto/cripto-video.png" alt="image">
                <div class="video-play">
                    <a href="https://vimeo.com/45830194" class="vid-play play-icon">
                        <img src="assets/img/cripto/play-btn.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="cripto-ico-shape">
        <img src="assets/img/icon/cripto-mather-shape.svg" alt="icon">
    </div>
</div>
<div class="cripto-member-area">
    <div class="container-fluid">
        <div class="cripto-member-wrapper">
            <div class="sec-title text-center aos-init aos-animate" data-aos="fade-up">
                <h1 data-watermark="Team"><span>Team</span> Member</h1>
                <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            </div>
            <div class="cripto-member-content" >
                <div class="cmc-single-content" data-aos="fade-up">
                    <div class="cmcs-content-img">
                        <img src="assets/img/cripto/member1.png" alt="image">
                    </div>
                    <div class="cmcs-content-overlay">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-link-alt"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>John Smith</h3>
                        <p>Developer</p>
                    </div>
                </div>
                <div class="cmc-single-content" data-aos="fade-up" data-aos-delay="50">
                    <div class="cmcs-content-img">
                        <img src="assets/img/cripto/member2.png" alt="image">
                    </div>
                    <div class="cmcs-content-overlay">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-link-alt"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>L. Baker</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <div class="cmc-single-content" data-aos="fade-up" data-aos-delay="100">
                    <div class="cmcs-content-img">
                        <img src="assets/img/cripto/member3.png" alt="image">
                    </div>
                    <div class="cmcs-content-overlay">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-link-alt"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>John Sergio</h3>
                        <p>Designer</p>
                    </div>
                </div>
                <div class="cmc-single-content" data-aos="fade-up" data-aos-delay="150">
                    <div class="cmcs-content-img">
                        <img src="assets/img/cripto/member4.png" alt="image">
                    </div>
                    <div class="cmcs-content-overlay">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icofont-link-alt"></i>
                                </a>
                            </li>
                        </ul>
                        <h3>John Sergio</h3>
                        <p>Designer</p>
                    </div>
                </div>
            </div>
            <div class="cripto-load-more">
                <a href="" class="btn btn-blue text-blue">Load More
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="cripto-faq-area">
    <div class="container-fluid">
        <div class="sec-title text-center aos-init aos-animate" data-aos="fade-up">
            <h1 data-watermark="Faqs"><span>Common</span> FAQS</h1>
            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-faq-wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <div class="accordion-wrapper">
                        <div class="single-accordion" data-aos="fade-up">
                            <div class="accordion-head">
                                <h6>Richard McClintock, a Latin professor at Hampden-Sydne ?</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-accordion" data-aos="fade-up" data-aos-delay="50">
                            <div class="accordion-head">
                                <h6>It has roots in a piece of classical Latin literature</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-accordion" data-aos="fade-up" data-aos-delay="100">
                            <div class="accordion-head">
                                <h6>It has roots in a piece of classical Latin literature ?</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion-wrapper mt-md-30">
                        <div class="single-accordion" data-aos="fade-up">
                            <div class="accordion-head">
                                <h6>Richard McClintock, a Latin professor at Hampden-Sydne ?</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-accordion" data-aos="fade-up" data-aos-delay="50">
                            <div class="accordion-head">
                                <h6>It has roots in a piece of classical Latin literature</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-accordion" data-aos="fade-up" data-aos-delay="100">
                            <div class="accordion-head">
                                <h6>It has roots in a piece of classical Latin literature ?</h6>
                            </div>
                            <div class="accordion-body">
                                <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                                <ul>
                                    <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                    <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cripto-contact-area">
    <div class="container-fluid">
        <div class="sec-title text-center aos-init aos-animate" data-aos="fade-up">
            <h1 data-watermark="Contact"><span>Contact</span> Us</h1>
            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
         <div class="ccf-heading" data-aos="fade-up">
            <h3>Get in touch</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor nam pulvinar elementum. </p>
        </div>
        <div class="cripto-contact-wrapper">
            <div class="cripto-contact-form" data-aos="fade-up" data-aos-delay="50">
                <div class="ccf-input-wrapper">
                    <div class="ccf-input">
                        <div class="ccf-input-group">
                            <input type="text" placeholder="Your Full Name">
                        </div>
                        <div class="ccf-input-group">
                            <input type="email" placeholder="Enter your email address">
                        </div>
                    </div>
                    <div class="ccf-text">
                        <div class="ccf-input-group">
                            <textarea placeholder="Type Your text here"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cripto-address" data-aos="fade-up" data-aos-delay="100">
                <ul>
                    <li><span><i class="icofont-ui-call"></i></span> +111 - (1234 5678 99)</li>
                    <li><span><i class="icofont-ui-message"></i></span>cryptohouse@gmail.com</li>
                    <li><span><i class="icofont-location-pin"></i></span> 23/ A Lake Side , New Arizona , USA</li>
                </ul>
            </div>
            <div>
                <a href="#" class="btn btn-blue text-blue">Send Query
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'template/footer-six.twig' %}