{% include 'template/header-script.twig' with {'class': 'class="gradient"'}%}
<div class="bitcoin-banner-sec" style="background-image:url(assets/img/cripto/bit-coin/banner-bg.jpg)">
    <div class="container-fluid">
        <div class="bitcoin-banner-wrap">
            {% include 'template/landing-header.twig' %}
        </div>

    </div>
    <div class="ico-area">
        <div class="container-fluid">
            <div class="ico-content">
                <h1 data-aos="fade-up">ico Token <span>25% OFF</span></h1>
                <p data-aos="fade-up" data-aos-delay="50">Time to ICO Close</p>
                <div class="gradient-cripto-counter" data-aos="fade-up" data-aos-delay="70">
                    <div class="countdown-clock countdown-lagency">
                        <div class="cripto-item">
                            <div class="ci-inner">
                                <div class="clock-days ci-value"></div>
                                <h4>Days</h4>
                            </div>
                        </div>
                        <div class="cripto-item">
                            <div class="ci-inner">
                                <div class="clock-hours ci-value"></div>
                                <h4>Hours</h4>
                            </div>
                        </div>
                        <div class="cripto-item">
                            <div class="ci-inner">
                                <div class="clock-minutes ci-value"></div>
                                <h4>Minutes</h4>
                            </div>
                        </div>
                        <div class="cripto-item">
                            <div class="ci-inner">
                                <div class="clock-seconds ci-value"></div>
                                <h4>Seconds</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <p data-aos="fade-up" data-aos-delay="90">Total Token Available</p>
                <h5 data-aos="fade-up" data-aos-delay="110">85,346</h5>
                <a href="" class="btn btn-sky" data-aos="fade-up" data-aos-delay="130">Buy Token
                    <i class="icofont-long-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="ico-animation-img-wrapper">
            <img class="ico-ani1" src="assets/img/cripto/bit-coin/circle.png" alt="image">
            <img class="ico-ani2" src="assets/img/cripto/bit-coin/coin-sm.png" alt="image">
            <img class="ico-ani3" src="assets/img/cripto/bit-coin/coin-lg.png" alt="image">
        </div>
    </div>
</div>
<div class="bitcoin-about-area section" id="c-about">
    <div class="container relative">
        <div class="bitcoin-about-wrapper">
            <div class="bitcoin-about-img">
                <img src="assets/img/cripto/bit-coin/bitcoin-about.svg" alt="image">
            </div>
            <div class="bitcoin-about-content">
                <div class="bit-heading">
                    <h4 class="bit-sub" data-aos="fade-up">About Us</h4>
                    <h3 class="bit-title" data-aos="fade-up" data-aos-delay="50">Why You Choose Us</h3>
                </div>
                <h3 data-aos="fade-up" data-aos-delay="70">A simple Platform give you lot of Solution</h3>
                <p data-aos="fade-up" data-aos-delay="90">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
                <ul>
                    <li data-aos="fade-up" data-aos-delay="110">Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                    <li data-aos="fade-up" data-aos-delay="130">Fringilla euismod odio vitae nam pulvinar is this elementum lorem ipsum dolor sit amet.</li>
                    <li data-aos="fade-up" data-aos-delay="150">Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                </ul>
            </div>
        </div>
        <div class="bit-data-watermark">
            <h2>ABOUT</h2>
        </div>
    </div>
    <div class="bit-about-overlay">
       <img src="assets/img/cripto/bit-coin/bit-about-linemark.svg" alt="image"> 
    </div>
</div>
<div class="cripto-batch-area" >
    <div class="container">
        <div class="cripto-batch-wrapper">
            <div class="cripto-single-batch" data-aos="fade-up">
                <h3 class="counter-value" data-count="5.87">0</h3>
                <p>Total Batches</p>
            </div>
            <div class="cripto-single-batch" data-aos="fade-up" data-aos-delay="50">
                <h3 class="counter-value" data-count="165567">0</h3>
                <p>Daily Batch User</p>
            </div>
            <div class="cripto-single-batch" data-aos="fade-up" data-aos-delay="80">
                <h3 class="counter-value" data-count="5567">0</h3>
                <p>Average Rate</p>
            </div>
            <div class="cripto-single-batch" data-aos="fade-up" data-aos-delay="100">
                 <h3>
                    <span class="counter-value" data-count="70">0</span>%
                </h3>
                <p>Success Rate</p>
            </div>
        </div>
    </div>
</div>
<div class="cripto-services-area section" style="background-image:url(assets/img/cripto/cripto-service-bg.jpg)" id="c-services">
    <div class="container relative">
        <div class="cripto-services-wrapper">
            <div class="cripto-services-heading text-center">
                <h3 class="bit-sub" data-aos="fade-up">Services</h3>
                <h2 class="bit-title" data-aos="fade-up" data-aos-delay="50">What we providing you</h2>
                <p data-aos="fade-up" data-aos-delay="80">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            </div>
            <div class="cripto-services-content">
                <div class="cripto-services-single" data-aos="fade-up">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-one.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Secure Currency</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
                <div class="cripto-services-single" data-aos="fade-up" data-aos-delay="50">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-two.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Business Consultant</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                    </div>
                </div>
                <div class="cripto-services-single" data-aos="fade-up" data-aos-delay="70">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-three.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Buy & Sale</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
                <div class="cripto-services-single" data-aos="fade-up" data-aos-delay="90">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-four.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Block Chain</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
                <div class="cripto-services-single" data-aos="fade-up" data-aos-delay="110">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-five.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Exchange Balance</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
                <div class="cripto-services-single" data-aos="fade-up" data-aos-delay="130">
                    <div class="cs-single-img">
                        <img src="assets/img/cripto/cripto-icon/service-six.png" alt="image">
                    </div>
                    <div class="cs-single-sontent">
                        <h3>Secure Currency</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bit-data-watermark cripto-services-water">
            <h2>Services</h2>
        </div>
    </div>
</div>
<div class="cripto-price-table section" id="c-price-table">
    <div class="container relative">
        <div class="cripto-price-heading text-center">
            <h3 class="bit-sub" data-aos="fade-up">Price Table</h3>
            <h2 class="bit-title" data-aos="fade-up" data-aos-delay="50">See our Price Planning</h2>
            <p data-aos="fade-up" data-aos-delay="80">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-price-wrapper">
            <div class="cripto-single-table" data-aos="fade-up">
                 <div class="cst-price">
                    <span>$</span>0
                 </div>
                <div class="cst-heading">
                    <h3>Basic</h3>
                    <p>7 Day Free Trial</p>
                </div>
                <ul class="cst-list">
                    <li class="active">Bookmarksgrove right coast</li>
                    <li class="active">Vokalia and Consonantia</li>
                    <li class="active">large language ocean semantics</li>
                    <li>Bookmarksgrove right coast</li>
                    <li>Vokalia and Consonantia</li>
                </ul>
                <button class="btn btn-outline-theme">Subscribe</button>
            </div>
            <div class="cripto-single-table active" data-aos="fade-up" data-aos-delay="50">
                <div class="cst-price">
                    <span>$</span>14
                </div>
                <div class="cst-heading">
                    <h3>Standard</h3>
                    <p>Month Fee</p>
                </div>
                <ul class="cst-list">
                    <li class="active">Bookmarksgrove right coast</li>
                    <li class="active">Vokalia and Consonantia</li>
                    <li class="active">large language ocean semantics</li>
                    <li class="active">Bookmarksgrove right coast</li>
                    <li>Vokalia and Consonantia</li>
                </ul>
                <button class="btn btn-outline-theme">Subscribe</button>
            </div>
            <div class="cripto-single-table" data-aos="fade-up" data-aos-delay="80">
                <div class="cst-price">
                    <span>$</span>145
                </div>
                <div class="cst-heading">
                    <h3>Premium</h3>
                    <p>Yearly Fee</p>
                </div>
                <ul class="cst-list">
                    <li class="active">Bookmarksgrove right coast</li>
                    <li class="active">Vokalia and Consonantia</li>
                    <li class="active">large language ocean semantics</li>
                    <li class="active">Bookmarksgrove right coast</li>
                    <li class="active">Vokalia and Consonantia</li>
                </ul>
                <button class="btn btn-outline-theme">Subscribe</button>
            </div>
        </div>
        <div class="bit-data-watermark">
            <h2>PRICING</h2>
        </div>
        <div class="cripto-join-area" data-aos="fade-up">
            <div class="cripto-join-content">
                <h3 data-aos="fade-up" data-aos-delay="20">Join Today & Buy a Token</h3>
                <p data-aos="fade-up" data-aos-delay="50">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <a href="" class="btn btn-sky" data-aos="fade-up" data-aos-delay="80">Buy Token
                <i class="icofont-long-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="cripto-price-shape">
        <img src="assets/img/cripto/cripto-icon/table-bg.svg" alt="image">
    </div>
</div>
<div class="cripto-journey-area relative section" id="c-journey">
    <div class="container">
        <div class="cripto-journey-heading text-center">
            <h3 class="bit-sub" data-aos="fade-up">RoadMap</h3>
            <h2 class="bit-title" data-aos="fade-up" data-aos-delay="50">See our Crypto Journey</h2>
            <p data-aos="fade-up" data-aos-delay="80">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-journey-wrapper">
            <ul data-aos="fade-up">
                <li data-aos="fade-up" data-aos-delay="20">
                    <span>Jan 2017 - March 2018</span>
                    <h3>Explore Business</h3>
                </li>
                <li data-aos="fade-up" data-aos-delay="50">
                    <span>Jan 2017 - March 2018</span>
                    <h3>Marketing Campaign</h3>
                </li>
                <li data-aos="fade-up" data-aos-delay="70">
                    <span>Jan 2017 - March 2018</span>
                    <h3>Explore Business</h3>
                </li>
                <li data-aos="fade-up" data-aos-delay="90">
                    <span>Jan 2017 - March 2018</span>
                    <h3>Crypto Benefit</h3>
                </li>
                <li data-aos="fade-up" data-aos-delay="110">
                    <span>Jan 2017 - March 2018</span>
                    <h3>Time Management</h3>
                </li>
                <li data-aos="fade-up" data-aos-delay="130">
                    <span>Jan 2017 - March 2018</span>
                    <h3>IP Status</h3>
                </li>
            </ul>
        </div>
    </div>
    <div class="blockchain-area">
        <div class="blockchain-overlay">
            <img src="assets/img/cripto/cripto-icon/blockchain-bg.png" alt="image">
        </div>
        <div class="blockchain-wrapper">
            <div class="block-heading">
                <h3 data-aos="fade-up">How ICO market works in Blockchain</h3>
                <p data-aos="fade-up" data-aos-delay="30">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            </div>
            <div class="blockchain-video" data-aos="fade-up" data-aos-delay="60">
                <img src="assets/img/cripto/cripto-icon/blockcoin-video.png" alt="image">
                <div class="blockchain-icon">
                    <a href="https://vimeo.com/45830194" class="vid-play play-icon">
                        <img src="assets/img/cripto/cripto-icon/play-btn.png" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bit-data-watermark cripto-journey-water">
        <h2>ROADMAP</h2>
    </div>
</div>
<div class="cripto-team-member section" id="c-team-area">
    <div class="container relative">
        <div class="cripto-team-heading text-center">
            <h3 class="bit-sub" data-aos="fade-up">Team Member</h3>
            <h2 class="bit-title" data-aos="fade-up" data-aos-delay="50">See our Expert Team</h2>
            <p data-aos="fade-up" data-aos-delay="80">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-team-wrapper" data-aos="fade-up" data-aos-delay="70">
            <div class="cripto-team-single one-third">
                <img src="assets/img/cripto/cripto-icon/team/team1.jpg" alt="image">
                <div class="ct-single-overlay">
                    <h4>Jenny Stela Doe</h4>
                    <p>Digital Marketer</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cripto-team-single one-third">
                <img src="assets/img/cripto/cripto-icon/team/team2.jpg" alt="image">
                <div class="ct-single-overlay">
                    <h4>Jenny Stela</h4>
                    <p>Facebook Marketer</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cripto-team-single one-third">
                <img src="assets/img/cripto/cripto-icon/team/team3.jpg" alt="image">
                <div class="ct-single-overlay">
                    <h4>Andy S. Dennis</h4>
                    <p>Designer</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cripto-team-single one-third">
                <img src="assets/img/cripto/cripto-icon/team/team4.jpg" alt="image">
                <div class="ct-single-overlay">
                    <h4>Jodi R. Williams</h4>
                    <p>Devolopers</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cripto-team-single one-third">
                <img src="assets/img/cripto/cripto-icon/team/team5.jpg" alt="image">
                <div class="ct-single-overlay">
                    <h4>Micheal</h4>
                    <p>Digital Marketer</p>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="icofont-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icofont-link-alt"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bit-data-watermark cripto-team-water">
            <h2>TEAM</h2>
        </div>
    </div>
    <div class="cripto-line-mark">
        <img src="assets/img/cripto/cripto-icon/cripto-team.png" alt="icon">
    </div>
</div>
<div class="cripto-faq-area section" style="background-image:url(assets/img/cripto/cripto-faq.jpg)" id="c-faq">
    <div class="container relative">
        <div class="cripto-faq-heading text-center">
            <h3 class="bit-sub" data-aos="fade-up">FAQ</h3>
            <h2 class="bit-title" data-aos="fade-up" data-aos-delay="30">Frequently Ask Questions</h2>
            <p data-aos="fade-up" data-aos-delay="60">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-faq-wrapper">
            <!-- single accrodion -->
            <div class="cripto-single-accordion" data-aos="fade-up">
                <div class="cripto-accordion-head">
                    <h6>It has roots in a piece of classical Latin literature ?</h6>
                </div>
                <div class="cripto-accordion-body">
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                    <ul>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                        <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                    </ul>
                </div>
            </div>
            <!-- single accrodion -->
            <div class="cripto-single-accordion" data-aos="fade-up" data-aos-delay="20">
                <div class="cripto-accordion-head">
                    <h6>This is frequently ask question ?</h6>
                </div>
                <div class="cripto-accordion-body">
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                    <ul>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                        <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                    </ul>
                </div>
            </div>
            <!-- single accrodion -->
            <div class="cripto-single-accordion" data-aos="fade-up" data-aos-delay="50">
                <div class="cripto-accordion-head">
                    <h6>Richard McClintock, a Latin professor at Hampden-Sydne ?</h6>
                </div>
                <div class="cripto-accordion-body">
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                    <ul>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                        <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                    </ul>
                </div>
            </div>
            <!-- single accrodion -->
            <div class="cripto-single-accordion" data-aos="fade-up" data-aos-delay="70">
                <div class="cripto-accordion-head">
                    <h6>It has roots in a piece of classical Latin literature ?</h6>
                </div>
                <div class="cripto-accordion-body">
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                    <ul>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                        <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                    </ul>
                </div>
            </div>
            <!-- single accrodion -->
            <div class="cripto-single-accordion" data-aos="fade-up" data-aos-delay="90">
                <div class="cripto-accordion-head">
                    <h6>Richard McClintock, a Latin professor at Hampden-Sydne ?</h6>
                </div>
                <div class="cripto-accordion-body">
                    <p>It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney .</p>
                    <ul>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                        <li>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bit-data-watermark cripto-faq-water">
            <h2>FAQ</h2>
        </div>
    </div>
</div>
<div class="cripto-contacts-area section" id="c-contact">
    <div class="container relative">
        <div class="cripto-contacts-heading text-center">
            <h3 class="bit-sub" data-aos="fade-up">Contact Us</h3>
            <h2 class="bit-title" data-aos="fade-up" data-aos-delay="50">For any query Give a touch</h2>
            <p data-aos="fade-up" data-aos-delay="80">Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="cripto-contacts" data-aos="fade-up">
            <ul>
                <li><i class="icofont-ui-call"></i>+111 - (1234 5678 99)</li>
                <li><i class="icofont-email"></i><a href="#">cryptohouse@gmail.com</a></li>
                <li><i class="icofont-location-pin"></i>23/ A Lake Side , New Arizona , USA</li>
            </ul>
        </div>
        <div class="cripto-contacts-from" data-aos="fade-up" data-aos-delay="50">
            <div class="cripto-contact-group">
                <div class="input-group mb-20">
                    <input type="text" placeholder="Your Full Name">
                </div>
                <div class="input-group">
                    <input type="email" placeholder="Enter your email address">
                </div>
            </div>
            <div class="input-text-group">
                <textarea cols="30" rows="10" placeholder="Type Your text here"></textarea>
            </div>
            <button class="btn btn-sky">Buy Token
                <i class="icofont-long-arrow-right"></i>
            </button>
        </div>
        <div class="cripto-contacts-map" data-aos="fade-up" data-aos-delay="70">
            <iframe height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
        <div class="bit-data-watermark cripto-contact-water">
            <h2>CONTACT</h2>
        </div>
    </div>
    <div class="cripto-contacts-shape">
        <img src="assets/img/icon/cripto-contact.svg" alt="icon">
    </div>
</div>
<!-- Subscribe Area Start Here -->
<section class="subscribe-area mt-0">
    <div class="container">
        <div class="subscribe-wrapper">
            <div class="subscribe-content">
                <h4>Subscribe Newsletter</h4>
                <p>Subscribe newsletter & get always update info</p>
            </div>
            <div class="subscribe-from">
                <div class="input">
                    <input type="text" placeholder="Enter your email address">
                    <i class="icofont-ui-message"></i>
                </div>
                <button>Subscribe</button>
            </div>
        </div>
    </div>
</section>
<!-- Subscribe Area End Here -->
{% include 'template/footer-crazy.twig' %}