{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}


<div class="py-100">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern">
            <h1><span>Road</span> Map</h1>
            <p>The road map of our business system</p>
        </div>
        <div class="timeline timeline-light mx-auto">
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">Block Chain</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">Marketing Campaign</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">Time Management</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">Explore Business</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">IP Status</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="timeline-item">
                <div class="tli-head">
                    <span class="date">Jan 2017 - March 2018</span>
                    <h4>
                        <a href="">Crypto Circle</a>
                    </h4>
                </div>
                <div class="tli-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 py-3 pe-lg-4">
                <div class="">
                    <img src="assets/img/bitcoin4.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 py-3">
                <div class="">
                    <h4>ICO Problem & Solution</h4>
                    <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
                    <ul class="list">
                        <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                        <li>Fringilla euismod odio vitae nam pulvinar is this elementum lorem ipsum dolor sit amet.</li>
                        <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb--30">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Newsletter</h4>
                <p>Subscribe our newsletter for get Update</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'template/footer-four.twig' %}