{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="roadmap-sec">
    <div class="container">
        <div class="sec-title text-center">
            <h1 data-watermark="Road Map"><span>Road</span> Map</h1>
            <p>The road map of our business system</p>
        </div>
        <div class="roadmap-wrap">
            <img src="assets/img/roadmap.png" alt="" class="roadmap-img d-none d-lg-block">
            <ul class="roadmap">
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
                <li>
                    <div class="roadmap-item">
                        <span class="date">Jan 2017 - March 2018</span>
                        <h4>Marketing Campaign</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                    </div>            
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="pt-100 pb-50">
    <div class="container">
        <div class="w1000 mx-auto text-center">
            <h4>ICO Problem & Solution </h4>
            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
        </div>
        <div class="mx-auto w900">
            <div class="text-center mb-4">
                <img src="assets/img/bitcoin5.png" alt="">
            </div>
            <ul class="list column-count-2 column-gap-50">
                <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                <li>Fringilla euismod odio vitae nam pulvinar is this elementum lorem ipsum dolor sit amet.</li>
                <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                <li>Consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. </li>
                <li>Fringilla euismod odio vitae nam pulvinar is this elementum lorem ipsum dolor sit amet.</li>
            </ul>
        </div>
    </div>
</div>



{% include 'template/footer-two.twig' %}