
{% include 'template/header-script.twig' %}

<div class="signin-page-sec">
    
    <canvas id="particles"></canvas>
    
    {% include 'template/header2.twig' %}


    <div class="py-100">
        <div class="container">
            <div class="">
                <div class="signin-block w500">
                    <h1 class="fw-bold text-white">
                        Sign Up to <span class="text-success-gradient">CryptoHouse</span>
                    </h1>
                    <p>Stay connected world best secured cryptocurrency</p>
                    <div class="w400">
                        <div class="input-icon-group-right mb-4">
                            <input type="email" placeholder="enter your email address">
                            <span class="input-icon">
                                <i class="icofont-ui-message"></i>
                            </span>
                        </div>
                        <a href="" class="btn btn-light rounded-5">
                            Continue
                            <i class="icofont-long-arrow-right"></i>
                        </a>
                        <div class="mt-5">
                            <p>Already have account ? <a href="signin.html" class="text-white fw-bold">Sign In</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% include 'template/footer-four.twig' %}