
{% include 'template/header-script.twig' %}

<div class="signin-page-sec">
    
    <canvas id="particles"></canvas>
    
    {% include 'template/header2.twig' %}


    <div class="py-100">
        <div class="container">
            <div class="">
                <div class="signin-block w400">
                    <h1 class="text-success-gradient fw-bold">Signing In</h1>
                    <p>Sign into your account again for full access</p>
                    <div class="input-icon-group-right mb-4">
                        <input type="email" placeholder="enter your email address">
                        <span class="input-icon">
                            <i class="icofont-ui-message"></i>
                        </span>
                    </div>
                    <a href="" class="btn btn-light rounded-5">
                        Login
                        <i class="icofont-long-arrow-right"></i>
                    </a>
                    <div class="mt-5">
                        <p>Don't have an account yet? <a href="signup.html" class="text-white fw-bold">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% include 'template/footer-four.twig' %}