{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}

<div class="pt-100 pb-50">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern mb-0">
            <h1><span>Statistics</span> Report</h1>
            <p>Overall statistics currency</p>
        </div>
    </div>
</div>

<div class="py-100" style="background:url('assets/img/bg.jpg')no-repeat scroll center/cover">
    <div class="container">
        <div class="counter-wrap counter-secondary-wrap">
            <div class="row text-center">
                <div class="col-lg-10 mx-auto">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 py-3">
                            <div class="counter-item">
                                <h2>
                                    <span class="counter-value" data-count="5.87">0</span>
                                </h2>
                                <p>Total Batches</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 py-3">
                            <div class="counter-item">
                                <h2>
                                    <span class="counter-value" data-count="165567">0</span>
                                </h2>
                                <p>Daily Batch User</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 py-3">
                            <div class="counter-item">
                                <h2>
                                    <span class="counter-value" data-count="0.759">0.0</span>
                                </h2>
                                <p>Average Rate</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 py-3">
                            <div class="counter-item">
                                <h2>
                                    <span class="counter-value" data-count="70">0</span>%                            
                                </h2>
                                <p>Success Rate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt--40 text-center pb-100">
    <div class="container">
        <div class="box-shadow p-3 p-sm-5 rounded-20 bg-white position-relative z-index-5">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h4>Why it’s Important</h4>
                    <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur euismod odio vitae nam pulvinar elementum.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 py-3">
                    <div class="icon-block">
                        <div class="mb-3">
                            <img src="assets/img/icon/4.svg" alt="">
                        </div>
                        <div class="">
                            <h4>Block Chain</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="icon-block">
                        <div class="mb-3">
                            <img src="assets/img/icon/5.svg" alt="">
                        </div>
                        <div class="">
                            <h4>Exchange Balance</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3">
                    <div class="icon-block">
                        <div class="mb-3">
                            <img src="assets/img/icon/4.svg" alt="">
                        </div>
                        <div class="">
                            <h4>Mining Currency</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb--30">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Newsletter</h4>
                <p>Subscribe our newsletter for get Update</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'template/footer-four.twig' %}