{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="">
    <div class="container">
        <div class="sec-title text-center">
            <h1 data-watermark="Statistics"><span>Statistics</span> Report</h1>
            <p>Overall statistics currency</p>
        </div>
        <div class="counter">
            <div class="counter-img text-center">
                <img src="assets/img/counter.png" alt="">
            </div>
            <div class="counter-wrap">
                <div class="row text-center">
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="counter-item">
                            <h2>
                                <span class="counter-value" data-count="165567">0</span>
                            </h2>
                            <p>Daily Batch User</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="counter-item">
                            <h2>
                                <span class="counter-value" data-count="0.759">0</span>
                            </h2>
                            <p>Average Rate</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="counter-item">
                            <h2>
                                <span class="counter-value" data-count="5.87">0</span>
                            </h2>
                            <p>Total Batches</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="counter-item">
                            <h2>
                                <span class="counter-value" data-count="70">0</span>%
                            </h2>
                            <p>Success Rate</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="video-sec py-100">
    <div class="container">
        <div class="video-cilp-wrapper">
            <h4>See a short Clip Why it’s Important</h4>
            <p>Tellus vulputate habitasse ut diam. Auctor sit elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor lectus iaculis viverra. Adipiscing lobortis interdum fringilla euismod odio vitae nam pulvinar elementum.</p>
            <div class="video-clip bg-overlay-secondary-gradient">
                <img src="assets/img/video-poster.jpg" alt="" class="video-poster">
                <a href="https://vimeo.com/45830194" class="vid-play play-icon">
                    <img src="assets/img/play.svg" alt="Play">
                </a>
            </div>
        </div>
        <div class="bg-primary-gradient px-3 pt-100">
            <div class="row">
                <div class="col-lg-11 mx-auto">
                    <div class="row text-center text-white">
                        <div class="col-lg-4 py-3">
                            <div class="">
                                <div class="mb-3">
                                    <img src="assets/img/icon/1.svg" alt="">
                                </div>
                                <div class="">
                                    <h4>Exchange Balance</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-3">
                            <div class="">
                                <div class="mb-3">
                                    <img src="assets/img/icon/2.svg" alt="">
                                </div>
                                <div class="">
                                    <h4>Block Chain</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 py-3">
                            <div class="">
                                <div class="mb-3">
                                    <img src="assets/img/icon/3.svg" alt="">
                                </div>
                                <div class="">
                                    <h4>Mining Currency</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'template/footer-one.twig' %}