{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}


<div class="py-100">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern">
            <h1><span>Team</span> Member</h1>
            <p>Let,s Meet our Advisory Team & Expert</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m1.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m2.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m3.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m4.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m5.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 py-3 py-lg-4 px-lg-4">
                <div class="member-card">
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                    <img src="assets/img/m6.jpg" class="mc-img" alt="">
                    <div class="mc-text">
                        <h4>
                            <a href="">Jenny Stela Doe</a>
                        </h4>
                        <p>Digital Marketer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="" class="btn btn-primary">
                Load More
                <i class="icofont-long-arrow-right"></i>
            </a>
        </div>
    </div>
</div>


<div class="mb--30">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Join Today &amp; Buy a Token</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'template/footer-four.twig' %}