{% include 'template/header-script.twig' %}
{% include 'template/header2.twig' %}


<div class="pt-100 pb-50">
    <div class="container">
        <div class="sec-title text-center sec-title-line-modern mb-0">
            <h1><span>Token</span> info</h1>
            <p>Today token sale price ratio</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="">
                    <img src="assets/img/token-info.png" alt="Token Info">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="table-responsive">
                    <table class="table token-info-table">
                        <tbody><tr>
                            <td>Token ID</td>
                            <td>BT-123 - AG - 2021</td>
                        </tr>
                        <tr>
                            <td>Token Name</td>
                            <td>CryptoHouse Token</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>0.758 USD</td>
                        </tr>
                        <tr>
                            <td>Type of Token</td>
                            <td>BIT-C 75</td>
                        </tr>
                        <tr>
                            <td>Minimum Transaction amount</td>
                            <td>1 ETR / 1 BTC</td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="time-left-sec">
    <div class="container">
        <div class="time-left bg-secondary py-60 px-3">
            <div class="w600 mx-auto text-center">
                <div class="text-white">
                    <h1>Time Left</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                </div>
                <div class="">
                    <div class="row countdown-clock countdown-lagency">
                        <div class="col-6 col-sm-3 py-3">
                            <div class="countdown-item">
                                <div class="ci-inner">
                                    <div class="clock-days ci-value"></div>
                                    <h4>Days</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 py-3">
                            <div class="countdown-item">
                                <div class="ci-inner">
                                    <div class="clock-hours ci-value"></div>
                                    <h4>Hours</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 py-3">
                            <div class="countdown-item">
                                <div class="ci-inner">
                                    <div class="clock-minutes ci-value"></div>
                                    <h4>Minutes</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 py-3">
                            <div class="countdown-item">
                                <div class="ci-inner">
                                    <div class="clock-seconds ci-value"></div>
                                    <h4>Seconds</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray">
            <div class="call-to-action w800 mx-auto bg-gray shadow-none">
                <div class="cta-left">
                    <h4>Join Today &amp; Buy a Token</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="cta-right">
                    <a href="" class="btn btn-primary">
                        Buy Token
                        <i class="icofont-long-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mb--30 pt-100">
    <div class="container">
        <div class="call-to-action w900 mx-auto bg-secondary-gradient px-lg-5 z-index-5">
            <div class="cta-left text-white">
                <h4>Newsletter</h4>
                <p>Subscribe our newsletter for get Update</p>
            </div>
            <div class="cta-right">
                <div class="newsletter-widget">
                    <input type="email" placeholder="Enter your email address" class="bg-white">
                    <input type="submit" value="Send">
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'template/footer-four.twig' %}