{% include 'template/header-script.twig' %}
<div class="innerpage-header-sec header-one">
    {% include 'template/header.twig' %}
</div>


<div class="token-info-sec">
    <div class="container">
        <div class="sec-title text-center">
            <h1 data-watermark="Token">
                <span>Token</span> Info
            </h1>
            <p>Today token sale price ratio</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <h3>Information of Token</h3>
                    <div class="table-responsive">
                        <table class="table table-borderless token-info-table">
                            <tr>
                                <td>Token ID</td>
                                <td>BT-123 - AG - 2021</td>
                            </tr>
                            <tr>
                                <td>Token Name</td>
                                <td>CryptoHouse Token</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>0.758 USD</td>
                            </tr>
                            <tr>
                                <td>Type of Token</td>
                                <td>BIT-C 75</td>
                            </tr>
                            <tr>
                                <td>Minimum Transaction amount</td>
                                <td>1 ETR / 1 BTC</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="">
                    <img src="assets/img/token.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="countdown-sec">
    <div class="container">
        <div class="w600 mx-auto sec-title text-center text-white">
            <h1>Time Left</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
        </div>
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row countdown-clock">
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="countdown-item">
                            <div class="ci-inner">
                                <div class="clock-days ci-value"></div>
                            </div>
                            <h4>Days</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="countdown-item">
                            <div class="ci-inner">
                                <div class="clock-hours ci-value"></div>
                            </div>
                            <h4>Hours</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="countdown-item">
                            <div class="ci-inner">
                                <div class="clock-minutes ci-value"></div>
                            </div>
                            <h4>Minutes</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 py-3">
                        <div class="countdown-item">
                            <div class="ci-inner">
                                <div class="clock-seconds ci-value"></div>
                            </div>
                            <h4>Seconds</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <div class="call-to-action">
                        <div class="cta-left">
                            <h4>Join Today & Buy a Token</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="cta-right">
                            <a href="" class="btn btn-primary">
                                Buy Token
                                <i class="icofont-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'template/footer-two.twig' %}