
<footer id="footer">
    <div class="footer-sec bg-light pt-50 pb-20 footer-curve-bg-light">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-6 py-4 order-lg-1 order-2">
                    <div class="footer-widget">
                        <ul class="footer-widget-menu column-4">
                            <li><a href="about.html">About</a></li>
                            <li><a href="token.html">Token</a></li>
                            <li><a href="statistic.html">Statistic</a></li>
                            <li><a href="roadmap.html">Roadmap</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="error.html">Error</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 py-4 order-lg-2 order-1">
                    <div class="footer-widget text-center w700 mx-auto">
                        <a href="" class="footer-logo mb-4">
                            <img src="assets/img/logo.svg" alt="">
                        </a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                        <div class="d-flex flex-wrap justify-content-center">
                            <h5 class="footer-widget-title me-3 my-2">
                                Follow Us
                                <i class="icofont-long-arrow-right text-primary"></i>
                            </h5>
                            <div class="social-icons">
                                <a href="">
                                    <i class="icofont-facebook"></i>
                                </a>
                                <a href="">
                                    <i class="icofont-twitter"></i>
                                </a>
                                <a href="">
                                    <i class="icofont-instagram"></i>
                                </a>
                                <a href="">
                                    <i class="icofont-youtube-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 py-4 order-lg-3 order-3">
                    <div class="footer-widget">
                        <h4 class="footer-widget-title">Newsletter</h4>
                        <p>Subscribe our newsletter for get Update</p>
                        <div class="newsletter-widget mb-4">
                            <input type="email" placeholder="Enter your email address">
                            <input type="submit" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-sec bg-primary">
        <div class="container">
            <div class="copyright-inner">
                <a href="#" class="cr-single-menu">Help & FAQ</a>
                <p>Copyright © 2021 CryptoHouse All Rights Reserved.</p>
                <a href="#" class="cr-single-menu">Terms & Condition</a>
            </div>
        </div>
    </div>
</footer>

{% include 'footer-script.twig' %}