
<footer class="py-80 bg-overlay-primary" style="background: url('assets/img/1.jpg') no-repeat fixed center/cover;">
    <div class="container-fluid">
        <div class="footer-sec bg-white pt-50 text-center">
            <img src="assets/img/bitcoin2.png" alt="" class="footer-bitcoin-img-one d-none d-sm-block">
            <img src="assets/img/bitcoin3.png" alt="" class="footer-bitcoin-img-two d-none d-sm-block">
            <div class="container">
                <div class="footer-widget w550 mx-auto">
                    <a href="" class="footer-logo mb-4">
                        <img src="assets/img/logo.svg" alt="">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum.</p>
                    <div class="social-icons">
                        <a href="">
                            <i class="icofont-facebook"></i>
                        </a>
                        <a href="">
                            <i class="icofont-twitter"></i>
                        </a>
                        <a href="">
                            <i class="icofont-instagram"></i>
                        </a>
                        <a href="">
                            <i class="icofont-youtube-play"></i>
                        </a>
                    </div>
                </div>
                <div class="footer-widget py-4">
                    <ul class="footer-widget-menu menu-inline">
                        <li><a href="about.html">About</a></li>
                        <li><a href="token.html">Token</a></li>
                        <li><a href="statistic.html">Statistic</a></li>
                        <li><a href="roadmap.html">Roadmap</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="error.html">Error</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="copyright-sec bg-light">
            <div class="container">
                <div class="copyright-inner">
                    <a href="#" class="cr-single-menu">Help & FAQ</a>
                    <p>Copyright © 2021 CryptoHouse All Rights Reserved.</p>
                    <a href="#" class="cr-single-menu">Terms & Condition</a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% include 'footer-script.twig' %}