<footer class="cripto-footer-area" style="background-image:url(assets/img/cripto/ftr-bg.png)">
    <div class="container-fluid">
        <div class="cripto-footer-wrapper">
            <div class="cripto-ftr-menu-wrapper">
                <div class="cripto-ftr-menu mr-100">
                    <h3>Important</h3>
                    <ul>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Term & Condition</a></li>
                        <li><a href="#">Privecy Policy</a></li>
                    </ul>
                </div>
                <div class="cripto-ftr-menu">
                    <h3>Sitemap</h3>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Token</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="cripto-ftr-content">
                <div class="cripto-ftr-logo">
                    <a href="#">
                         <img src="assets/img/logo-white.svg" alt="">
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                <div class="social-icons">
                    <a href="">
                        <i class="icofont-facebook"></i>
                    </a>
                    <a href="">
                        <i class="icofont-twitter"></i>
                    </a>
                    <a href="">
                        <i class="icofont-instagram"></i>
                    </a>
                    <a href="">
                        <i class="icofont-youtube-play"></i>
                    </a>
                </div>
                <a href="#">See Location  Google Map <span><i class="icofont-long-arrow-right"></i></span></a>
            </div>
            <div class="cripto-ftr-subscribe">
                <h3>Newsletter</h3>
                <p>Subscribe our newsletter for get Update</p>
                <div class="cripto-subscribe">
                    <input type="email" placeholder="Enter your email address">
                    <input type="submit" value="Subscribe">
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="cripto-sub-footer">
    <div class="container-fluid">
        <p>Copyright © 2021 CryptoHouse All Rights Reserved.</p>
    </div>
</div>


{% include 'footer-script.twig' %}