
<!-- Footer Area Start Here -->
<footer class="footer-area" style="background-image: url('assets/img/short-code-img/bg/footer-bg.png');">
    <div class="footer-shape">
        <img src="assets/img/short-code-img/bg/footer-shape.png" alt="shape">
    </div>
    <div class="container">
        <div class="footer-wrapper">
            <div class="footer-content">
                <img src="assets/img/short-code-img/logo/logo.png" alt="logo">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non, lobortis in in tortor  nam pulvinar elementum. </p>
                <div class="footer-social">
                    <a href="#"><i class="icofont-facebook"></i></a>
                    <a href="#"><i class="icofont-twitter"></i></a>
                    <a href="#"><i class="icofont-instagram"></i></a>
                    <a href="#"><i class="icofont-ui-social-link"></i></a>
                </div>
                <a class="see-location" href="#">See Location  Google Map <i class="icofont-long-arrow-right"></i></a>
            </div>
            <div class="footer-menu">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Price Table</a></li>
                    <li><a href="#">Roadmap</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Error</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End Here -->
<!-- CopyRht Area Start Here -->
<div class="copy-right-area">
    <div class="container">
        <div class="copyright-wrapper">
            <p>Privecy Policy</p>
            <p>Copyright &copy; 2021 CryptoHouse All Rights Reserved.</p>
            <p>Term & Condition</p>
        </div>
    </div>
</div>
{% include 'footer-script.twig' %}