<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/favicon.png" type="image/gif" sizes="16x16">
    <title>CryptoHouse</title>
    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/base-style.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body {{class}}>


<div class="ch-preloader-sec">
    <div id="ch-preloader">

        <div id="chp-top" class="mask">
        <div class="plane"></div>
        </div>
        <div id="chp-middle" class="mask">
        <div class="plane"></div>
        </div>

        <div id="chp-bottom" class="mask">
        <div class="plane"></div>
        </div>
        
        <p><i>LOADING...</i></p>
        
    </div>
</div>