<header class="landing-header-area">
    <div class="ch-header landing-header-wrapper">
        <a href="index.html" class="h-logo pe-3">
            <img src="assets/img/logo-white.svg" alt="Logo">
        </a>
        <div class="header-right">
            <div class="h-menu-wrap d-none d-xl-block">
                <ul class="h-menu">
                    <li><a href="#c-about" class="active">About</a></li>
                    <li><a href="#c-services">Services</a></li>
                    <li><a href="#c-price-table">Price Table </a></li>
                    <li><a href="#c-journey">Roadmap</a></li>
                    <li><a href="#c-team-area">Team</a></li>
                    <li><a href="#c-faq">FAQ</a></li>
                    <li><a href="#c-contact">Contact</a></li>
                </ul>
            </div>
            <div class="menu-trigger d-xl-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="h-btn d-none d-xl-block ms-xl-4">
                <div class="short-code">
                    <a href="short-code.html" class="btn btn-sky">Shortode</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-menu-wrap d-xl-none">
        <div class="menu-close">
            <i class="icofont-close-line"></i>
        </div>
        <div class="mobile-menu"></div>
        <div class="my-4">
            <div class="short-code">
                <a href="#" class="btn btn-sky">Shortcode</a>
            </div>
        </div>
    </div>
</header>